asgiref==3.11.1
bcrypt==5.0.0
Django==6.0.4
django-cors-headers==4.9.0
dnspython==2.8.0
PyJWT==2.12.1
pymongo==4.17.0
python-dotenv==1.2.2
sqlparse==0.5.5
tzdata==2026.2
djangorestframework==3.15.2
daphne==4.1.2
channels==4.1.0
channels-redis==4.2.1
